plugins {
    id 'nf-live-tracking@2.0.0'
}

params {
outputdir = "results" //Fill in the beam name here in production
}
live {     
            enabled = true
            file = "${params.outputdir}/PROGRESS"
            overwrite = true
            interval = 2  // Interval in seconds for JSON dumps

}
