manifest {
    name = "nf-live-tracking-test"
    author = "Bruno Grande"
    homePage = "https://github.com/sage-bionetworks-workflows/nf-live-tracking"
    description = "Nextflow plugin for tracking provenance"
    mainScript = "main.nf"
    nextflowVersion = "!>=21.10.3"
    version = "0.2.0"
    doi = ""
}
